# Contents in this notebook
1. Importing libraries and data
2. Checking the two imported dataframes and dropping unnecessary column
3. Merging order_products_combined and products_checked datasets together

# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Defining Path
path = r'C:\Users\seann\Downloads\Career Foundry Tasks\12-08-22 Instacart Basket Analysis'

In [5]:
# Importing Orders Product Combined Data Set
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
# Importing Products Data Set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 4.6 Task

In [18]:
# Checking dataframes and dropping unnecessary columns
orders_products_combined.shape

(32434489, 9)

In [8]:
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,999.0,196,1,0,both
1,0,2539329,1,1,2,8,999.0,14084,2,0,both
2,0,2539329,1,1,2,8,999.0,12427,3,0,both
3,0,2539329,1,1,2,8,999.0,26088,4,0,both
4,0,2539329,1,1,2,8,999.0,26405,5,0,both

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.shape

(49672, 6)

In [14]:
orders_products_combined = orders_products_combined.drop(columns = ['Unnamed: 0','_merge'])

In [16]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [17]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [19]:
# Merging Data
df_merged_prods_ords = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [20]:
df_merged_prods_ords.head()

,order_id,user_id,amount_of_orders_made,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [23]:
# Checking Merged Data
df_merged_prods_ords['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged_prods_ords.shape

(32404859, 14)

In [24]:
# Export New Merged Data Set
df_merged_prods_ords.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))